In [1]:
import os, glob
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from zipfile import ZipFile
import argparse
import pdb

In [2]:
#    Dictionaries and lists
important=['Participant ID','Date of Intake','VEG0100','VEG0200','VEG0300','VEG0400','VEG0800','VEG0450','VEG0700',
       'VEG0600','VEG0900','VEG0500','VEG0100','VEG0700','FRU0100','FRU0200','FRU0300','FRU0400',
       'FRU0500','FRU0600','FRU0700','FRU0300','FRU0400','FRU0500','FRU0600','FRU0700',
       'Whole Grains (ounce equivalents)','DMF0100','DMR0100','DML0100','DMN0100','DMF0200',
       'DMR0200','DML0200','DML0300','DML0400','DCF0100','DCR0100','DCL0100','DCN0100','DYF0100',
       'DYR0100','DYL0100','DYF0200','DYR0200','DYL0200','DYN0100','DOT0300','DOT0400','DOT0500',
       'DOT0600','DOT0100','MRF0100','MRL0100','MRF0200','MRL0200','MRF0300','MRL0300','MRF0400',
       'MRL0400','MCF0200','MCL0200','MRF0500','MPF0100','MPL0100','MPF0200','MFF0100','MFL0100',
       'MFF0200','MSL0100','MSF0100','MCF0100','MCL0100','MOF0100','MOF0200','MOF0300','MOF0400',
       'MOF0500','MOF0600','MOF0700','VEG0700','MFF0100','MFL0100','MFF0200','MSL0100','MSF0100',
       'MOF0500','MOF0600','MOF0700','VEG0700','Sodium (mg)','Refined Grains (ounce equivalents)',
       'Added Sugars (by Total Sugars) (g)','% Calories from SFA','Energy (kcal)',
       'Total Polyunsaturated Fatty Acids (PUFA) (g)','Total Monounsaturated Fatty Acids (MUFA) (g)',
       'Total Saturated Fatty Acids (SFA) (g)','FRU0100','FRU0200','DMF0200','DMR0200','DML0200','DML0300',
       'SWT0600','BVS0400','BVS0300','BVS0500','BVS0100','BVS0200','BVS0600','BVS0700', 'SWT0600','SWT0100',
       'SWT0200','SWT0300','SWT0700' , 'SWT0800','SWT0400','SWT0500','DOT0300' , 'DOT0400',
       'DOT0100','DOT0200','GRR0800' , 'GRS0800',  'GRW0800','GRW0900' ,'GRS0900' , 'GRR0900' ,
       'GRW1100' , 'GRW1200', 'GRW0400' ,'GRS0400' ,'GRR0400','VEG0800','FMC0100', 'FMC0200','DMF0100',
       'DMR0100','DML0100','DMN0100' ,'DMF0200','DMR0200','DML0200','DOT0500', 'DOT0600','DOT0700',
       'DOT0800','GRW0600','GRS0600','GRR0600','GRW0700','GRS0700','GRR0700','GRW1300','GRS1300']


ped811_dict = {
    'hei_vegetables': {'parameters':[0.1,1.9], 'name': 'HEIX1_VEGETABLES'},
    'hei_totfruit': {'parameters':[0.1,1.9], 'name': 'HEIX2_TOTALFRUIT'},
    'hei_wholegrains': {'parameters':[1.0,3.5,0.0 , 8.0], 'name': 'HEIX3_WHOLEGRAIN'},
    'hei_milk': {'parameters':[20,28,8,35], 'name': 'HEIX4_TOTALDAIRY'},
    'hei_proteins': {'parameters':[2.5,6.0,0,10.0], 'name': 'HEIX5_PROTEIN'},
    'hei_refinedgrains': {'parameters':[1.6,3.5], 'name': 'HEIX6_REFINEDGRAIN'},
    'hei_fruitjuice': {'parameters':[0.1,6.0], 'name': 'HEIX7_FRUITJUICE'},
    'hei_SSB': {'parameters':[0.1,4.0], 'name': 'HEIX8_SSB'},
    'hei_sweets': {'parameters':[0.1,1.0], 'name': 'HEIX9_SWEETS'},
    'hei_salty': {'parameters':[0.1,1.0], 'name': 'HEIX10_SALTY'}
    }

ped1224_dict = {
    'hei_vegetables': {'parameters':[0.1,7.9], 'name': 'HEIX1_VEGETABLES'},
    'hei_totfruit': {'parameters':[0.1,7.9], 'name': 'HEIX2_TOTALFRUIT'},
    'hei_wholegrains': {'parameters':[1.5, 5.5, 0, 8.0], 'name': 'HEIX3_WHOLEGRAIN'},
    'hei_milk': {'parameters':[14.0,18.0,8.0,24.0], 'name': 'HEIX4_TOTALDAIRY'},
    'hei_proteins': {'parameters':[2.0,3.0,0,6.0], 'name': 'HEIX5_PROTEIN'},
    'hei_refinedgrains': {'parameters':[1.9, 4.2], 'name': 'HEIX6_REFINEDGRAIN'},
    'hei_fruitjuice': {'parameters':[4.1,6.0], 'name': 'HEIX7_FRUITJUICE'},
    'hei_SSB': {'parameters':[0.1,4.0], 'name': 'HEIX8_SSB'},
    'hei_sweets': {'parameters':[0.1,1.0], 'name': 'HEIX9_SWEETS'},
    'hei_salty': {'parameters':[0.1,1.0], 'name': 'HEIX10_SALTY'}
    }

ped08_dict = {
    'hei_vegetables': {'parameters':[0,0], 'name': 'HEIX1_VEGETABLES'},
    'hei_totfruit': {'parameters':[0,0], 'name': 'HEIX2_TOTALFRUIT'},
    'hei_wholegrains': {'parameters':[0,0,0,0], 'name': 'HEIX3_WHOLEGRAIN'},
    'hei_dairy': {'parameters':[0,0,0,0], 'name': 'HEIX4_TOTALDAIRY'},
    'hei_proteins': {'parameters':[0,0,0,0], 'name': 'HEIX5_PROTEIN'},
    'hei_refinedgrains': {'parameters':[0,0], 'name': 'HEIX6_REFINEDGRAIN'},
    'hei_fruitjuice': {'parameters':[0,0], 'name': 'HEIX7_FRUITJUICE'},
    'hei_SSB': {'parameters':[0,0], 'name': 'HEIX8_SSB'},
    'hei_sweets': {'parameters':[0,0], 'name': 'HEIX9_SWEETS'},
    'hei_salty': {'parameters':[0,0], 'name': 'HEIX10_SALTY'},
    'hei_cereal': {'parameters':[0,0], 'name': 'HEIX11_CEREAL'}
    }

ped_dict={
    'young': ped811_dict,
    'child':ped1224_dict,
    'infant':ped08_dict
    }

hei_ped_dict={
        'hei_totveg':
        ['VEG0100','VEG0200','VEG0300','VEG0400','VEG0800','VEG0450','VEG0700','VEG0600','VEG0900','VEG0500'],
        'hei_greensbeans':
        ['VEG0100','VEG0700'],
        'hei_totfruit':
        ['FRU0100','FRU0200','FRU0300','FRU0400','FRU0500','FRU0600','FRU0700'],
        'hei_wholefruit':
        ['FRU0300','FRU0400','FRU0500','FRU0600','FRU0700'],
        'hei_wholegrains':
        ['Whole Grains (ounce equivalents)'],
        'hei_dairy':
        ['DMF0100','DMR0100','DML0100','DMN0100','DMF0200','DMR0200','DML0200','DML0300','DML0400','DCF0100','DCR0100','DCL0100','DCN0100','DYF0100',
        'DYR0100','DYL0100','DYF0200','DYR0200','DYL0200','DYN0100','DOT0300','DOT0400','DOT0500','DOT0600','DOT0100'],
        'hei_totproteins':
        ['MRF0100','MRL0100','MRF0200','MRL0200','MRF0300','MRL0300','MRF0400',
        'MRL0400','MCF0200','MCL0200','MRF0500','MPF0100','MPL0100','MPF0200',
        'MFF0100','MFL0100','MFF0200','MSL0100',
        'MSF0100','MCF0100','MCL0100','MOF0100','MOF0200','MOF0300','MOF0400','MOF0500',
        'MOF0600','MOF0700','VEG0700'],
        'hei_seafoodplantprot':
        ['MFF0100','MFL0100','MFF0200','MSL0100','MSF0100','MOF0500','MOF0600','MOF0700','VEG0700'],
        'hei_refinedgrains':
        ['Refined Grains (ounce equivalents)'],
        'energy':
        ['Energy (kcal)'],
        'hei_fruitjuice':
        ['FRU0100','FRU0200'],
        'hei_SSB':
        ['DMF0200','DMR0200','DML0200','DML0300','SWT0600','BVS0400','BVS0300','BVS0500','BVS0100','BVS0200','BVS0600','BVS0700', 'SWT0600'],
        'chocolate_candies':
        ['SWT0100'],
        'candies':
        ['SWT0200'],
        'frosting':
        ['SWT0300'],
        'sweet_sauce':
        ['SWT0700' , 'SWT0800'],
        'sugar':
        ['SWT0400'],
        'syrups':
        ['SWT0500'],
        'Pudding':
        ['DOT0300' , 'DOT0400'],
        'icecream':
        ['DOT0100' ],
        'nondairy_treat':
        ['DOT0200' ],
        'baked_good':
        ['GRR0800' , 'GRS0800',  'GRW0800' ],
        'chips':
        ['GRW0900' ,'GRS0900' , 'GRR0900' , 'GRW1100' , 'GRW1200', 'GRW0400' ,'GRS0400' ,'GRR0400' ],
        'fries':
        ['VEG0800' ],
        'other_fried':
        ['FMC0100', 'FMC0200' ],
        'milk':
        ['DMF0100','DMR0100','DML0100','DMN0100' ,'DMF0200','DMR0200','DML0200','DOT0500', 'DOT0600'],
        'formula_foz':
        ['DOT0700', 'DOT0800'],
        'cereal_oz':
        ['GRW0600','GRS0600','GRR0600','GRW0700','GRS0700','GRR0700'],
        'bbcereal_hcup':
        ['GRW1300','GRS1300']
        }

conv_dict={
'hei_fruitjuice':4,
'hei_SSB':8,
'chocolate_candies':40,
'candies':15,
'frosting':35,
'sugar':4,
'syrups':.25,
'Pudding':1,
'icecream':.5,
'nondairy_treat':85,
'baked_good':55,
'fries': 70,
'formula_foz':5,
'bbcereal_hcup':.5
}

make_hei_dict={
'hei_sweets' :
['chocolate_candies','candies','frosting','sweet_sauce','sugar','syrups','Pudding', 'icecream','nondairy_treat','baked_good'],
'hei_salty' :
['chips','other_fried','fries'],
'hei_vegetables':
['hei_totveg', 'hei_greensbeans'],
'hei_proteins':
['hei_totproteins','hei_seafoodplantprot'],
'hei_milk':
['hei_dairy','formula_foz'],
'hei_cereal':
['cereal_oz', 'bbcereal_hcup']
}

ped_interest = ['Participant ID','Energy (kcal)', 'hei_totveg', 'hei_greensbeans', 'hei_totfruit', 'hei_wholefruit', 'hei_wholegrains','hei_dairy', 'hei_totproteins', 'hei_seafoodplantprot',
            'hei_refinedgrains', 'hei_addedsugars', 'ripctsfa','energy','chocolate_candies','candies','frosting','sweet_sauce','sugar','syrups','Pudding', 'icecream','nondairy_treat','baked_good',
            'chips','other_fried','fries']

In [3]:
basepath='/Users/gracer/Google Drive/BCP/data'
arglist={'BASEPATH': basepath, 
         'CHILD': True, 
         'NAMES': 'testies', 
         'OPTS': ['Chil'], 
         'SAVE':os.path.join(basepath, 'derivived'),
         'XTRA': 'total_demo_dataset.csv'}

In [4]:
# Find the data
for (dirpath, dirnames, filenames) in os.walk(basepath):
   for filename in filenames:
       if filename.endswith('.zip'):
           tmppath=os.sep.join([dirpath, filename])
           with ZipFile(tmppath, 'r') as zipObj:
              # Get a list of all archived file names from the zip
              listOfFileNames = zipObj.namelist()
              # Iterate over the file names
              for fileName in listOfFileNames:
                  # Check filename endswith txt
                   if fileName.endswith('04.txt'):
                       zipObj.extract(fileName, os.path.join(basepath,'temp_txt'))
                   if fileName.endswith('09.txt'):
                       zipObj.extract(fileName, os.path.join(basepath,'temp_txt'))
infile = os.path.join(basepath,'temp_txt')

In [5]:
infile

'/Users/gracer/Google Drive/BCP/data/temp_txt'

In [6]:
def file_org(infile, arglist, important):
    # will create a dictionary with the file paths to all the data
    if arglist['OPTS'] == False:
        arglist['OPTS']=[arglist['NAMES']]
        file_dict = {"set_04": {"%s"%arglist['NAMES']:{}}, "set_09": {"%s"%arglist['NAMES']: {}}}
        file_dict['set_04']["%s"%arglist['NAMES']]["files"] = [x for x in glob.glob(os.path.join(infile,'*04.txt')) if "%s"%arglist['NAMES'] in x]
        file_dict['set_09']["%s"%arglist['NAMES']]["files"] = [x for x in glob.glob(os.path.join(infile,'*09.txt')) if "%s"%arglist['NAMES'] in x]
        arglist['OPTS']=[arglist['NAMES']]

    else:
        file_dict={"set_04":{},"set_09":{}}
        for item in arglist['OPTS']:
            print('this is the item %s'%item)
            file_dict["set_04"][item]= {}
            file_dict["set_09"][item]= {}

        for key,value in file_dict.items():
            keys=list(file_dict[key].keys())
            for k in keys:
                print(k)
                file_dict['set_04']["%s"%k]["files"] = [x for x in glob.glob(os.path.join(infile,'*04.txt')) if '%s'%k in x]
                file_dict['set_09']["%s"%k]["files"] = [x for x in glob.glob(os.path.join(infile,'*09.txt')) if '%s'%k in x]

    return(file_dict)

In [7]:
a=file_org(infile, arglist, important) #list of the files

this is the item Chil
Chil
Chil

In [8]:
data_dict={"set_04":{},"set_09":{}}
df_demo=pd.read_csv(os.path.join(basepath,arglist['XTRA']), sep=",")
    #     e['Participant ID'] = e['Participant ID'].astype('int32')
df_demo['Participant ID'] = df_demo['Participant ID'].astype('int32')
    #     df = pd.merge(e,df_demo, on=['Participant ID'])

for key, value in a.items():
    print(key)
    for k,v, in value.items():
        print(k)
        temp_list = []
        for file in v["files"]:
            print(file)
            temp_df =  pd.read_csv(file, sep="\t", encoding='latin1')
            temp_df=temp_df.drop([0])
            for val in temp_df["Participant ID"]:
                _id = str(val).lstrip("0").split("_")[0]
                temp_df.replace(val, _id, inplace=True)
            temp_list.append(temp_df)
        dfm_original = pd.concat(temp_list, ignore_index=True)
        print("Final dataframe size: ", dfm_original.shape)
        dfm_original = dfm_original.sort_values(by="Participant ID")
         
        del_cols=set(dfm_original.columns) - set(important)
        dfm_original.drop(del_cols, axis=1, inplace=True)
        for col in dfm_original:
            if dfm_original[col].dtype == np.object_:
                dfm_original[col] = (dfm_original[col].replace(',','.', regex=True))   
        
        concat_filepath = os.path.join(arglist['SAVE'],'%s_dataset_%s.csv'%(k,key))
#         pdb.set_trace()
        dfm_original['Participant ID'] = dfm_original['Participant ID'].astype('float').astype('int32')
        dfm_original = pd.merge(dfm_original,df_demo, on=['Participant ID'])
        dfm_original['Identifiers_visit']=dfm_original['Identifiers_visit'].astype('int32')
        dfm_original['child_feeding_practice-breastfed']=dfm_original['child_feeding_practice-breastfed'].astype('category')

        dfm_original.to_csv(concat_filepath, index=False, sep=",", header=True)
        
        data_dict[key]= dfm_original

set_04
Chil
/Users/gracer/Google Drive/BCP/data/temp_txt/UNCChildJuly04.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNUNCChild04.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNChilMar1804.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/ChildOct1804.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/BCPChildMSTR04.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNChildJuly04.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/BCPChildAP04.txt
Final dataframe size:  (931, 226)
set_09
Chil
/Users/gracer/Google Drive/BCP/data/temp_txt/BCPChildAP09.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNChildJuly09.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/BCPChildMSTR09.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/ChildOct1809.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNChilMar1809.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UMNUNCChild09.txt
/Users/gracer/Google Drive/BCP/data/temp_txt/UNCChildJuly09.txt
Final dataframe size:  (938, 171)

In [9]:
def ager(date1,date2):
    # Get the age in months of each recall
    diff_time = pd.to_datetime(date1)-pd.to_datetime(date2)
    diff_time= diff_time/ np.timedelta64(1, 'M')
    return(diff_time)

In [10]:
for key, value in data_dict.items():
#     print(value)
    value['Age_at_Intake']=ager(value['Date of Intake'], value['DoB'])

In [11]:
data_dict['set_04']

,Participant ID,Date of Intake,Energy (kcal),Total Saturated Fatty Acids (SFA) (g),Total Monounsaturated Fatty Acids (MUFA) (g),Total Polyunsaturated Fatty Acids (PUFA) (g),Sodium (mg),% Calories from SFA,Added Sugars (by Total Sugars) (g),Whole Grains (ounce equivalents),...,head_circumference,height,Gender,DoB,EDC,SubprojectID,ProjectID,CenterID,Age_taken,Age_at_Intake
0,105040,09/18/2018,811.309,16.706,5.750,4.349,667.814,18.417,13.267,1.353,...,17 in,32 in,Female,8/22/16,8/23/16,17.0,1,2,12.550566,24.871147
1,105040,09/18/2018,811.309,16.706,5.750,4.349,667.814,18.417,13.267,1.353,...,18.5 in,30 in,Female,8/22/16,8/23/16,17.0,1,2,15.704635,24.871147
2,105040,09/18/2018,811.309,16.706,5.750,4.349,667.814,18.417,13.267,1.353,...,18.5 in,31 in,Female,8/22/16,8/23/16,17.0,1,2,24.805437,24.871147
3,105040,09/18/2018,811.309,16.706,5.750,4.349,667.814,18.417,13.267,1.353,...,16.5 in,27.2 in,Female,8/22/16,8/23/16,17.0,1,2,6.275283,24.871147
4,105040,09/18/2018,811.309,16.706,5.750,4.349,667.814,18.417,13.267,1.353,...,17 in,28.5 in,Female,8/22/16,8/23/16,17.0,1,2,9.495062,24.871147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3531,993015,01/07/2018,733.613,12.720,12.902,6.418,679.039,15.535,32.825,0.408,...,17,26,Female,4/25/17,4/24/17,4.0,1,2,8.377995,8.443705
3532,999647,04/18/2018,900.845,23.782,13.553,4.283,1829.295,23.258,3.353,0.348,...,19.5 in,32.0 in,Female,12/11/16,NaN,9.0,1,3,16.033183,16.197458
3533,999647,04/18/2018,900.845,23.782,13.553,4.283,1829.295,23.258,3.353,0.348,...,19.5 in,32.0 in,Female,12/11/16,NaN,9.0,1,3,22.472741,16.197458
3534,999647,04/13/2018,792.188,8.484,14.032,7.870,661.438,9.315,18.621,0.887,...,19.5 in,32.0 in,Female,12/11/16,NaN,9.0,1,3,16.033183,16.033183
3535,999647,04/13/2018,792.188,8.484,14.032,7.870,661.438,9.315,18.621,0.887,...,19.5 in,32.0 in,Female,12/11/16,NaN,9.0,1,3,22.472741,16.033183

In [23]:
data_dict['set_09']['FRU0600']

0       103667280.0
1       103667280.0
2       103667280.0
3       103667280.0
4       103667280.0
           ...
3562     19479008.0
3563     67358400.0
3564     67358400.0
3565    102342712.0
3566    102342712.0
Name: FRU0600, Length: 3567, dtype: float32

In [24]:
gram2oz(data_dict['set_09']['FRU0600'])

0       3.656758e+06
1       3.656758e+06
2       3.656758e+06
3       3.656758e+06
4       3.656758e+06
            ...
3562    6.871023e+05
3563    2.376000e+06
3564    2.376000e+06
3565    3.610036e+06
3566    3.610036e+06
Name: FRU0600, Length: 3567, dtype: float32

In [12]:
def cup2oz(cup):
    cup=cup.astype('float32')
    oz=cup*8
    return(oz)

def gram2oz(gram):
    oz=gram/28.3495
    return(oz)

def T2oz(T):
    oz=T/2
    return(oz)

def grammar(key,x,num, data):
    data[key] = gram2oz(num*(data[x].astype('float').sum(axis=1)))
    return(data[key])

def from_cup(key,x,num, data):
    data[key] = cup2oz(num*(data[x].astype('float').sum(axis=1)))
    return(data[key])

def to_fluid(key, data, num):
      data[key] = num*(data[key].astype('float'))
      return(data[key])

def to_ounce(key, x, data):
    data[key] = data[x].astype('float').sum(axis=1)
    data[key] = cup2oz(data[key]/2)
    return(data[key])

def cow_stuff(key, value, data):
    x=value[:-1]
    tmp= data[x].astype('float32').sum(axis=1)
    y=value[-1]
    if key == 'hei_dairy':
        if y == 'DOT0100':
            tmp2=data[y].astype('float32')/3
            tmp3=tmp+tmp2
            data[key]=cup2oz(tmp3)
        else:
            print('NO DAIRY MISSING DOT0100, needs to be last in list')
    if key == 'hei_totproteins':
        if y == 'VEG0700':
            tmp2=data[y].astype('float32')*2 # this is normally 1/2
            data[key]=tmp+tmp2
        else:
            print('NO TOTAL PROTEIN MISSING VEG0700, needs to be last in list')
    if key == 'hei_seafoodplantprot':
        if y == 'VEG0700':
            tmp2=data[y].astype('float32')*2
            data[key]=tmp+tmp2
        else:
            print('NO SEAFOOD AND PLANT PROTEIN MISSING VEG0700, needs to be last in list')
    return(data[key])

In [13]:
def make_ped_components(hei_ped_dict, complete_df, conv_dict):
    for key, value in hei_ped_dict.items():
#         print(value)
        for item in value: 
            if item in list(complete_df.columns):
                complete_df[item]=complete_df[item].astype('float32')
                if key in ['hei_fruitjuice', 'hei_SSB','formula_foz']:
#                     pdb.set_trace()
                    print(complete_df[item])
                    complete_df['%s_new'%item]=to_fluid(item, complete_df, conv_dict[key])
                    print(complete_df['%s_new'%item])
                if key in ['hei_totveg','hei_greensbeans', 'hei_wholefruit','hei_totfruit']:
                    complete_df['%s_new'%item]=to_ounce(item, value, complete_df)
                if key in ['cereal_oz', 'bbcereal_hcup']:
                    if key == 'bbcereal_hcup':
                        complete_df['%s_new'%item]=from_cup(item, value, conv_dict[key] , complete_df)
                    else:
                        x=value
                        complete_df['%s_new'%item]= complete_df[x].astype('float').sum(axis=1)
                if key in ['hei_wholegrains','hei_refinedgrains']:
                    complete_df['%s_new'%item] = complete_df[value].astype('float')
                if key in ['hei_dairy','hei_totproteins','hei_seafoodplantprot']:
                    complete_df['%s_new'%item]=cow_stuff(item, value, complete_df)
                if key in ['chocolate_candies', 'candies', 'frosting', 'sugar','nondairy_treat','baked_good', 'fries']:
                    complete_df['%s_new'%item]=grammar(item, value, conv_dict[key], complete_df)
                if key in ['sweet_sauce']:
                    x=value
                    complete_df['%s_new'%item]= T2oz(complete_df[x].astype('float').sum(axis=1))
                if key in ['syrups','Pudding','icecream']:
                    from_cup(item, value, conv_dict[key], complete_df)
                if key in ['chips','other_fried']:
                    x=value
                    complete_df['%s_new'%item]= complete_df[x].astype('float').sum(axis=1)
    return(complete_df)

In [14]:
update_dict={'set_04':{},'set_09':{}}
for key, value in data_dict.items():
    update_dict[key]=make_ped_components(hei_ped_dict, value, conv_dict)

0       10.644
1       10.644
2       10.644
3       10.644
4       10.644
         ...
3562     2.000
3563     6.916
3564     6.916
3565    10.508
3566    10.508
Name: FRU0100, Length: 3567, dtype: float32
0       42.576000
1       42.576000
2       42.576000
3       42.576000
4       42.576000
          ...
3562     8.000000
3563    27.664000
3564    27.664000
3565    42.032001
3566    42.032001
Name: FRU0100_new, Length: 3567, dtype: float64
0       53.220001
1       53.220001
2       53.220001
3       53.220001
4       53.220001
          ...
3562    10.000000
3563    34.579998
3564    34.579998
3565    52.540001
3566    52.540001
Name: FRU0200, Length: 3567, dtype: float32
0       212.880005
1       212.880005
2       212.880005
3       212.880005
4       212.880005
           ...
3562     40.000000
3563    138.319992
3564    138.319992
3565    210.160004
3566    210.160004
Name: FRU0200_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DMF0200, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DMF0200_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DMR0200, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DMR0200_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DML0200, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DML0200_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DML0300, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DML0300_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: SWT0600, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: SWT0600_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0400, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0400_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0300, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0300_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0500, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0500_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0100, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0100_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0200, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0200_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0600, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0600_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0700, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: BVS0700_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: SWT0600, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: SWT0600_new, Length: 3567, dtype: float64
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
        ...
3562    4.300
3563    0.413
3564    0.413
3565    0.013
3566    0.013
Name: DOT0700, Length: 3567, dtype: float32
0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
          ...
3562    21.500001
3563     2.065000
3564     2.065000
3565     0.065000
3566     0.065000
Name: DOT0700_new, Length: 3567, dtype: float64
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DOT0800, Length: 3567, dtype: float32
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3562    0.0
3563    0.0
3564    0.0
3565    0.0
3566    0.0
Name: DOT0800_new, Length: 3567, dtype: float64

In [15]:
data_dict['set_09']

,Participant ID,Date of Intake,FRU0100,FRU0200,FRU0300,FRU0400,FRU0500,FRU0600,FRU0700,VEG0100,...,DOT0700_new,DOT0800_new,GRW0600_new,GRS0600_new,GRR0600_new,GRW0700_new,GRS0700_new,GRR0700_new,GRW1300_new,GRS1300_new
0,105040,09/18/2018,42.576000,212.880005,829976.5625,4148818.50,20738770.0,103667280.0,518203552.0,7440.47998,...,0.000000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
1,105040,09/18/2018,42.576000,212.880005,829976.5625,4148818.50,20738770.0,103667280.0,518203552.0,7440.47998,...,0.000000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
2,105040,09/18/2018,42.576000,212.880005,829976.5625,4148818.50,20738770.0,103667280.0,518203552.0,7440.47998,...,0.000000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
3,105040,09/18/2018,42.576000,212.880005,829976.5625,4148818.50,20738770.0,103667280.0,518203552.0,7440.47998,...,0.000000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
4,105040,09/18/2018,42.576000,212.880005,829976.5625,4148818.50,20738770.0,103667280.0,518203552.0,7440.47998,...,0.000000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,993015,10/04/2017,8.000000,40.000000,155952.0000,779560.00,3896800.0,19479008.0,97370080.0,314420.96875,...,21.500001,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0
3563,999647,04/18/2018,27.664000,138.319992,539281.9375,2695718.00,13475132.0,67358400.0,336705696.0,307069.87500,...,2.065000,0.0,0.123,0.123,0.123,0.123,0.123,0.123,0.0,0.0
3564,999647,04/18/2018,27.664000,138.319992,539281.9375,2695718.00,13475132.0,67358400.0,336705696.0,307069.87500,...,2.065000,0.0,0.123,0.123,0.123,0.123,0.123,0.123,0.0,0.0
3565,999647,04/13/2018,42.032001,210.160004,819371.8125,4095808.25,20473788.0,102342712.0,511582432.0,0.00000,...,0.065000,0.0,0.247,0.247,0.247,0.247,0.247,0.247,0.0,0.0
3566,999647,04/13/2018,42.032001,210.160004,819371.8125,4095808.25,20473788.0,102342712.0,511582432.0,0.00000,...,0.065000,0.0,0.247,0.247,0.247,0.247,0.247,0.247,0.0,0.0

In [16]:
update_dict['set_09']['FRU0100_new']

0       42.576000
1       42.576000
2       42.576000
3       42.576000
4       42.576000
          ...
3562     8.000000
3563    27.664000
3564    27.664000
3565    42.032001
3566    42.032001
Name: FRU0100_new, Length: 3567, dtype: float64

In [17]:
update_dict['set_09']['FRU0100']

0       42.576000
1       42.576000
2       42.576000
3       42.576000
4       42.576000
          ...
3562     8.000000
3563    27.664000
3564    27.664000
3565    42.032001
3566    42.032001
Name: FRU0100, Length: 3567, dtype: float64

In [18]:
#e = HEI.diet_maker(b,c, arglist['NAMES'])
df_demo=pd.read_csv(os.path.join(basepath,arglist['XTRA']), sep=",")
# e['Participant ID'] = e['Participant ID'].astype('int32')
# df_demo['Participant ID'] = df_demo['Participant ID'].astype('int32')
# df = pd.merge(e,df_demo, on=['Participant ID'])
# df['Age_at_Intake']=DQI.ager(df['Date of Intake'], df['DoB'])
#x=DQI.BCP(df, arglist)
#y=DQI.make_ped_components(hei_ped_dict, x, conv_dict)
que=HEI.make_hei(y, make_hei_dict)
split_dict=DQI.splitter(que)
for key, value in split_dict.items():
   if key == 'DF_child':
       DQI.DQI_BF(value, 'HEIX0_BREASTFEEDING', 'child')
       DQI.check(ped_dict['child'], value, 'child', key, arglist)
   elif key == 'DF_young':
       DQI.DQI_BF(value, 'HEIX0_BREASTFEEDING', 'young')
       DQI.check(ped_dict['young'], value, 'young', key, arglist)
   else:
       DQI.DQI_BF(value, 'HEIX0_BREASTFEEDING', 'infant')
       DQI.check(ped_dict['infant'], value, 'infant', key, arglist)

NameError: name 'HEI' is not defined