# Participant list

In [28]:
import os, glob
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import pdb

### Load in given participant ID list

In [29]:

participant_file = "/Users/nikkibytes/Documents/summer2019/bcp_data/participant_list.tsv"

file_df = pd.read_csv(participant_file, sep="\t")

#### Clean and organize list

In [30]:
# remove the extension on the ID tag so we can count unique IDS 
# -- MAY WANT TO CHANGE THIS IN FUTURE, currently not all ids follow with extension
for val in file_df["Record ID"]:
    _id = str(val).split("_")[0]
    file_df.replace(val, _id, inplace=True)

file_df

     Record ID Date of Intake Child/Mother QA Done/Sent to PI + Date Site
0       105040       3/1/2017       Child                  7.19.2018  UMN
1       105040       6/8/2017       Child                  7.19.2018  UMN
2       105040       9/7/2017       Child                  7.19.2018  UMN
3       116056      9/29/2016       Child                  7.19.2018  UMN
4       116056     12/18/2016       Child                  7.19.2018  UMN
...        ...            ...          ...                       ...  ...
1265    793775      11/8/2018        Child                 10.1.2019  UNC
1266    800148       3/4/2019        Child                 10.1.2019  UNC
1267    908754      3/21/2019        Child                 10.1.2019  UNC
1268    911829     11/30/2018        Child                 10.1.2019  UNC
1269    911829     11/16/2018        Child                 10.1.2019  UNC

[1270 rows x 5 columns]

In [31]:
# syntax edit -- remove space in "Child" value
file_df.head()
file_df["Child/Mother"].unique()

array(['Child ', 'Mom', 'Child'], dtype=object)

In [32]:
file_df.replace('Child ', 'Child', inplace=True)
file_df["Child/Mother"].unique()

array(['Child', 'Mom'], dtype=object)

In [39]:
# lets go through and make a dictionary of our IDs and the corresponding information
# this way we can access our IDs and as the identifying key and select info from there
ids=file_df[["Record ID", 'Child/Mother']].drop_duplicates("Record ID")
data_dict={}
# loop through each UNIQUE id, making them the key to the dictionary,
# then fill in the value with the id dataframe, giving us a dictionary of dataframes by ids
for x in ids["Record ID"]:
    if x not in data_dict:
        data_dict[x] = {}
    is_same = file_df["Record ID"] == x
    id_df = file_df[is_same]
    id_df = id_df[['Date of Intake', 'Child/Mother',
       'QA Done/Sent to PI + Date', 'Site']]
    data_dict[x]["df"] = id_df

In [44]:
ct_unique_child_ids=(ids['Child/Mother']=="Child").sum()
ct_unique_mom_ids=(ids['Child/Mother']=="Mom").sum()
print("Mom ID count: \t\t{} \nChild ID count: \t{} \n".format(ct_unique_mom_ids, ct_unique_child_ids))
#data_dict
#105040

Mom ID count: 		132
Child ID count: 	237

### Add functionality
#### Thoughts:  
* Look at data by id, site, mom vs. child, dates...  
* Display data, *grab particular variables*, output file reports   
* Match child with mom

#### By ID

In [21]:
input_id= input("Enter one of the following options to view data: \n \
                    - a 6 digit identification search code \n \
                    - Or one of the keyword in quotes: \n \
                        - by sites: 'site', or a specific site 'unc' or 'umn' \n \
                        - by relationships: 'mom', 'child', 'rel' \n \
                        - by dates: 'intake', 'qa' or 'date'\n")

Enter one of the following options to view data:
                     - a 6 digit identification search code
                     - Or one of the keyword in quotes:
                         - by sites: 'site', or a specific site 'unc' or 'umn'
                         - by relationships: 'mom', 'child', 'rel'
                         - by dates: 'intake', 'qa' or 'date'

In [22]:
# assume 6 digit id given since it's only 6 digit option
# display by IDs
if len(input_id) == 6 and input_id != "intake":
    print(data_dict[input_id])
# display by sites
elif input_id in ["site", "unc", "umn"]:
    print(file_df["Site"])
# display by mom or child
elif input_id in ["mom", "child", "rel"]:
    print(file_df["Child/Mother"])
# display by input dates
elif input_id in ['intake', 'qa', 'date']:
    print(file_df['Date of Intake'])
else:
    print("No match Found")
file_df.columns

No match Found

Index(['Record ID', 'Date of Intake', 'Child/Mother',
       'QA Done/Sent to PI + Date', 'Site'],
      dtype='object')