In [4]:
import os, glob
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [5]:

participant_file = "/Users/nikkibytes/Documents/summer2019/example_data/Total_Participant_Dataset.xlsx"


print("Text Files Found:  \{}".format(participant_file))

participant_xl = pd.ExcelFile(participant_file)

print("Sheet Names: {}".format(participant_xl.sheet_names))

participant_df = participant_xl.parse("All Participants")
print("Columns: {} \nSize: {}".format(participant_df.columns, participant_df.shape))

Text Files Found:  \/Users/nikkibytes/Documents/summer2019/example_data/Total_Participant_Dataset.xlsx
Sheet Names: ['All Participants']
Columns: Index(['Record ID', 'Date of Intake', 'Child/Mother',
       'QA Done/Sent to PI + Date', 'Site'],
      dtype='object')
Size: (1015, 5)

In [6]:
# syntax edit 
participant_df.head()
participant_df["Child/Mother"].unique()
participant_df.replace('Child ', 'Child', inplace=True)
participant_df["Child/Mother"].unique()

array(['Child', 'Mom'], dtype=object)

In [7]:
temp_df= participant_df.drop_duplicates(subset="Record ID")

temp_df["Child/Mother"].unique()

array(['Child', 'Mom'], dtype=object)

In [9]:
for val in temp_df["Record ID"]:
    _id = str(val).split("_")[0]
    temp_df.replace(val, _id, inplace=True)

In [12]:
temp_df = temp_df.drop_duplicates(subset="Record ID")

## Get Child Participants

In [13]:
child_df = temp_df.loc[temp_df['Child/Mother'] == "Child"]

print("Check unique values returned is only child: \n{}".format(child_df["Child/Mother"].unique()))
child_df.head()

Check unique values returned is only child:
['Child']

   Record ID Date of Intake Child/Mother QA Done/Sent to PI + Date Site
0     105040     2017-03-01        Child                 7.19.2018  UMN
3     116056     2016-09-29        Child                 7.19.2018  UMN
7     116845     2016-06-23        Child                 7.19.2018  UMN
9     125632     2016-03-31        Child                 7.19.2018  UMN
13    131015     2016-04-06        Child                 7.19.2018  UMN

In [14]:
child_df = child_df.drop(labels="Child/Mother", axis=1)
child_df_2 = child_df[child_df['Record ID'].apply(lambda x: len(str(x)) <= 6)]
# remove unneccessarty column 
child_df_2.head()

   Record ID Date of Intake QA Done/Sent to PI + Date Site
0     105040     2017-03-01                 7.19.2018  UMN
3     116056     2016-09-29                 7.19.2018  UMN
7     116845     2016-06-23                 7.19.2018  UMN
9     125632     2016-03-31                 7.19.2018  UMN
13    131015     2016-04-06                 7.19.2018  UMN

In [16]:
print("Child Participant Count: {} \nIDS: {}".format(len(child_df_2.index),child_df_2["Record ID"].unique()))

Child Participant Count: 195
IDS: ['105040' '116056' '116845' '125632' '131015' '176427' '176851' '198202'
 '198549' '231205' '234130' '266437' '277066' '282791' '284149' '295081'
 '320544' '381606' '401592' '406768' '408997' '415958' '423548' '447077'
 '468570' '469900' '470431' '495082' '514306' '518969' '519250' '544404'
 '552990' '557806' '583494' '584381' '590275' '597306' '601017' '621289'
 '627929' '645257' '661045' '675362' '676274' '684448' '726893' '752770'
 '755330' '761141' '786266' '794032' '801091' '801901' '805063' '812574'
 '826360' '838827' '859613' '879509' '883901' '904006' '908191' '927564'
 '932286' '933910' '939785' '940808' '960370' '960432' '978698' '981664'
 '981854' '993015' '2081' '17541' '52977' '67688' '106436' '107008'
 '110006' '111521' '132476' '137012' '158643' '189896' '266394' '314462'
 '354404' '385434' '388560' '395568' '406663' '417855' '421109' '456907'
 '494244' '518139' '525955' '530066' '576112' '607764' '648807' '675674'
 '683402' '683764' '757282' '758603' '774387' '859865' '865900' '945369'
 '950202' '107842' '199865' '204659' '372377' '439999' '477045' '522586'
 '627391' '740371' '353374' '469090' '629130' '637299' '706655' '709477'
 '722612' '798610' '830201' '938316' '011228' '017541' '062519' '148796'
 '151307' '157075' '200474' '216852' '382287' '412584' '418793' '488291'
 '505525' '509659' '515697' '664313' '713347' '732627' '788132' '911829'
 '999647' '124529' '309615' '317415' '375518' '439083' '469822' '617942'
 '633038' '672698' '676724' '682023' '705639' '710922' '863856' '865762'
 '866461' '887679' '947206' '052977' '089476' '223244' '340476' '433089'
 '523054' '548074' '605985' '185373' '240615' '261266' '318747' '380510'
 '439037' '458050' '635515' '671741' '706050' '907184' '943541' '985303'
 '002081' '051407' '774004']

## Get Mom Participants

In [17]:
mom_df = temp_df.loc[temp_df['Child/Mother'] == "Mom"]
mom_df["Child/Mother"].unique()

array(['Mom'], dtype=object)

In [18]:
mom_df = mom_df.drop(labels="Child/Mother", axis=1)
#remove IDS with *_*

mom_df_2 = mom_df[mom_df['Record ID'].apply(lambda x: len(str(x)) <= 6)]
# remove unneccessarty column 

mom_df_2 = mom_df_2.sort_values(by=["Record ID"])
mom_df_2.head()

    Record ID Date of Intake QA Done/Sent to PI + Date Site
885    001999     2018-09-18                   5.20.19  UMN
886    020784     2018-09-25                   5.20.19  UMN
678    094794     2018-04-17                10.10.2018  UNC
219    109504     2016-06-22                 7.19.2018  UMN
412     11370     2017-05-30                 7.19.2018  UNC

In [19]:
print("Mom Participant Count: {} \nIDS: {}".format(len(mom_df_2.index),mom_df_2["Record ID"].unique()))

Mom Participant Count: 125
IDS: ['001999' '020784' '094794' '109504' '11370' '116769' '119470' '131688'
 '133077' '133561' '144877' '155866' '156965' '167383' '176411' '183117'
 '1995' '20784' '223289' '245640' '249520' '251117' '254818' '256619'
 '257080' '280884' '281070' '300049' '313655' '317427' '317472' '322454'
 '324799' '326170' '33730' '340317' '345957' '346853' '347951' '356145'
 '361077' '375107' '382315' '387363' '392823' '396170' '396896' '402441'
 '404241' '412386' '413885' '415786' '419491' '423766' '426514' '43358'
 '442195' '456325' '457548' '457901' '480512' '48138' '482995' '483449'
 '497541' '503205' '505849' '515555' '52157' '523087' '550616' '569291'
 '594390' '598861' '610193' '633471' '641446' '651789' '672463' '677937'
 '679040' '698973' '706544' '713270' '723526' '731804' '738109' '740415'
 '744354' '747776' '759641' '765488' '798486' '802550' '805086' '812039'
 '814156' '834081' '834602' '838504' '846789' '853992' '861379' '867563'
 '878596' '884169' '886496' '892320' '897704' '900077' '901945' '910908'
 '915257' '917387' '919097' '925936' '950960' '957439' '964936' '966822'
 '968444' '970141' '978402' '982354' '998606']

## Compare with current dataset

In [49]:
data_dir_path = "/Users/nikkibytes/Documents/summer2019/example_data"

child04_text_files = glob.glob(os.path.join(data_dir_path, "*Child*04*"))
mom04_text_files = glob.glob(os.path.join(data_dir_path, "*Mom*04*"))

print("Text Files Found:  \nFor Mom: {} \nFor Child: {}".format(','.join(child04_text_files), ','.join(mom04_text_files)))

Text Files Found:
For Mom: /Users/nikkibytes/Documents/summer2019/example_data/UMNUNCChild04.txt,/Users/nikkibytes/Documents/summer2019/example_data/UMNUNCChild04_.txt
For Child: /Users/nikkibytes/Documents/summer2019/example_data/UMNUNCMom04.txt